src/baseline_f.py
bash
tests/sample_data
tests/outputs
util/g_script.sh
sample_data
tmp
tmp*
g_script.sh
old_data
q.sh
clean.sh
oligos_blunt-end.fa
nohup.out
*.pyc
split_files
__pycache__
test_files
log.txt
log_output.txt
Testers
workdir
YRefGenomes
TMP*
backup_*
old_data
out_2207
